h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
}

.resume {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.resumeSection {
    font-size:larger;
    text-align: center;
}

.resumeContent {
    font-family:Arial, Helvetica, sans-serif;
}