.sitewide-font {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bolder;
    color: rgb(11, 189, 1);
}

h2 {
  text-decoration: underline;
  color: darkgreen;
  text-decoration-color: rgb(11, 189, 1);
}

h3 {
  color: darkturquoise;
}

section {
    padding: 1rem 2rem;
    background: whitesmoke;
}

nav {
  background: gainsboro;
  margin: 0 -0.5rem;
  text-shadow: .1rem .1rem .1rem black;
  text-transform: uppercase;
}

nav::after {
  content: "";
  display: block;
  clear: both;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav li {
  float: left;
  display: block;
  padding: 1rem;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav li:hover {
  background: rgb(240, 240, 240);
}

nav a:active {
  color: #cce;
}

li.contains ul {
  display: none;
}

li.contains:hover ul {
  background: white;
  display: block;
  position: absolute;
}

li.contains li {
  float: none;
  font-size: 0.9rem;
}

div img {
  width: 100%;
  transition: transform 0.5s;
}

div img:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

#gallery {
  columns: 200px;
  column-fill: balance;
  column-gap: 0.5rem;
  margin: 1rem auto;
  width: 90%;
}

p.caption {
  font-size: 1.2rem;
  font-style: italic;
  margin: 0 1em;
  padding: 0 1em;
}